body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
input{
  border-color: #5bcd5f4d!important;
}
select{
   /* --tw-ring-color: #5bcd5f4d!important; */
     border-color: #5bcd5f4d!important;
}
select:focus{
   --tw-ring-color: #5bcd5f4d!important;
     border-color: #5bcd5f4d!important;
}